@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Maven+Pro&display=swap');

*{
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}
nav{
  width: 100%;
  background-color:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  margin: auto;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a{
  color: black;
  text-decoration: none;
}
.logo h1{
font-family: 'EB Garamond', serif;
font-size: 30px;

}
.logo img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* animation: logoanime 1s linear ; */
  margin: 0px 5px;
}
@keyframes logoanime {
  0%{
    transform: scale(0.1);
  }
  50%{
    transform: scale(2);
  }  
  100%{
    transform:scale(1);
  }
}
.nav-links a{
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  color: black;
  text-decoration: none;
  margin: 0px 20px;
}
.nav-links a::after{
  content: '';
  background-color: black;
  display: block;
  width: 0%;
  height: 2px;
  margin: 4px auto;
  border-radius: 30px;
  transition: 0.3s;
  transform-origin: left;
}
.nav-links a:hover::after{
  width: 100%;
}


.dashboard{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px auto;

}
.dashboard img{
  width: 450px;
  height: 550px;
  border-radius: 150px 50px;
  /* box-shadow: 0px 0px 40px rgba(60, 60, 60, 0.259); */
  animation: animepic 2s ease;
}
@keyframes animepic {
  0%{
    border-radius: 150px 50px;
  }
  50%{
    border-radius: 50px 150px;

  }
  100%{
    border-radius: 150px 50px;
  }
}
.db1 h1{
  width: 300px;
}
.db1 span{
  color: crimson;
  display: block;
}
.db1>div{
  background: linear-gradient(45deg , rgb(91,254,249),rgb(30,22,222));
  width: 200px;
  height: 50px;
  padding: 1px;
  margin: 20px auto;
  border-radius: 30px;
}
.db1 button{
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg , rgb(91,254,249),rgb(30,22,222));
  font-size: 21px;
  font-weight: 500;
  color: white;
  /* padding: 15px 35px; */
  border-radius: 30px;
  border: none;
  transition: 0.3s;
  animation: btnanime 0.5s linear;
}

.db1 button:hover{
  background:white;
  color: rgb(30,22,222);
  letter-spacing: 2px;
}

.skills{
  margin: 70px auto;
  /* padding: 10px 100px; */
}
.skills h1{
  margin: 40px 0px;
  position: sticky;
  top: 70px;
}
.cards{
  position: relative;
  scroll-snap-type:y mandatory;
}
.cards div{
  color: white;
  /* background-color: #05133e; */
  background: linear-gradient(rgb(0,196,130) , rgb(0,166,196));
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* border-radius: 15px; */
  transition: 0.5s;
  position: sticky;
  top: 125px;
  scroll-snap-align: top;
}
.cards div:hover{
  /* transform: scale(1.01); */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.18);
}

.cards div img{
  width: 170px;
  margin: 20px 50px;
  transition: 0.3s;
}
.cards div p{
  width: 500px;
  font-size: 25px;
}

/* ------------CONTACT PAGE----------- */

.contact-form{
  width: 85%;
  height: 89vh;
  background: url("https://wallpapercave.com/wp/wp4923991.png");
  background-size: cover;
  background-position: 100px;
  padding: 20px;
  margin: auto;
  border: solid 1px black;
  display: flex;
  align-items: center;
}
.contact-form h1{
  text-align: left;
  padding-left: 70px;
  margin: 20px 0px;
  color: white;
}
.contact-form form{
  width:60%;
  margin: 20px 0px;
}
.contact-form form input{
  width: 70%;
  height: 40px;
  margin: 10px;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 16px;
}
.contact-form form input:focus{
  border: none;
  outline: none;
  transform: scale(1.1);
}
.contact-form form input:hover{
  transform: scale(1.1);
  letter-spacing: 1px;
}
.contact-form form input[type="submit"]{
  width: 70%;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
.contact-form form input[type="submit"]:hover{
  letter-spacing: 1px;
  background-color: white;
  color: black;
}

